*{
    background-color:lightgrey;
}
#uploadForm{
    padding: 2em;
    margin: auto;
    width: 400px;
    background-color: lightsteelblue;
}

#upload{
    margin-bottom: 2em;
    background-color: white;
}
#uploadDescription{
    width: 300px;
    padding: 1em;
    padding-bottom: 4em;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
#submit{
    margin-top: 2em;
    background-color: cornflowerblue;
    padding: 1em;
    color: white;
    border-radius: 10px;
    width: 100px;
}

.errorMessage{
    color: red;
    background-color: none;
}

.hidden{
    display: none;
}

.picture_grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

