*{
    font-family: 'Raleway', sans-serif;
}
p, label, input{
    font-size: 12px;
}
h1{
    font-size: 35px;
    padding: 0.5em 0 1em 0;
}

h5{
    font-size: 12px;
}

h6{
    color: white;
}
.hero_container{
    background-image: url(images/IMG_20170522_155304.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    overflow: scroll;
}
.form-container{
    background-color: hsla(0, 0%, 0%, 0.719);
    display: inline-block;
    padding: 1em;
    position: absolute;
    left: 50%;
    width: 450px;
    transform: translate( -50%);
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}
.form-control{
    background-color: hsla(0, 1%, 63%, 0.623);
    border: none;
    color: white;
}
.btn{
    display: block;
    width: 150px;
    margin: 3em auto;
}

.btn-primary{
    background-color:  hsl(240, 71%, 60%);
    border: none;
    border-radius: 5px;
}

.btn-default{
    background-color:  hsl(0, 2%, 82%);
    margin-top: 0;
    border-radius: 5px;
    border: none;
}

.btn-sm{
    font-size: 12px;
    width: 100px;
    height: 25px;
}

.help-block{
    font-size: 10px;
}

.form-switch{
    padding-top: 1em;
    text-align:center;
}

.nav{
    background-color: hsl(0, 0%, 15%);
    height: 70px;
    width: 100%;
    position: fixed;
}
.nav-logo{
    text-align: center;
    display: block;
    width: 200px;
    margin: auto;
    color: white;
}

.nav-logo:hover{
    text-decoration: none;
}

.profile-link{
    display: inline-block;

}

.index-container{
    background-color: hsl(240, 18%, 87%); 
}

.glyphicon{
    color: white;
}


.form-search{
    width: 500px;
    padding-top: 8em;
    margin: auto;
}

.form-search-control{
    border-radius: 5px;
    border: none;
    height: 25px;
    background-color: hsla(0, 1%, 63%, 0.623);
}

.form-search-container{
    text-align: center;
}

.picture-grid{
    width: 100%;
}

.picture-row{
    width: 350px;
    margin: auto;
}

.post-div{
    display: block;
    width: 350px;
    margin: auto;
    margin-bottom: 2em;
    background-color: hsl(240, 7%, 22%);;
}

@media(min-width: 800px){
    .picture-grid{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(min-width: 1100px){
    .form-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2;
        width: 900px;
    }

    .form-container h1{
        grid-column: 1;
        grid-row: 1;
    }

    .form-inputs{
        grid-column: 2;
        grid-row: 1;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 0;
    }

    .form-switch{
        grid-column: 2;
        grid-row: 2;
        padding-left: 1em;
    }

    .picture-grid{
       grid-template-columns: auto auto auto;
    }

}

#uploadForm{
    padding: 2em;
    margin: auto;
    width: 400px;
    background-color: lightsteelblue;
}

#upload{
    margin-bottom: 2em;
    background-color: white;
}
#uploadDescription{
    width: 300px;
    padding: 1em;
    padding-bottom: 4em;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
#submit{
    margin-top: 2em;
    background-color: cornflowerblue;
    padding: 1em;
    color: white;
    border-radius: 10px;
    width: 100px;
}

.errorMessage{
    color: red;
    background-color: none;
}

.hidden{
    display: none;
}

.picture_grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

